---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';
import BaseLayout from '@layouts/BaseLayout.astro';
import Quote from '@components/Quote.astro';
import Section from '@components/Section.astro';
import Blob from '@components/Blob.astro';
import ContactForm from '@components/ContactForm.astro';
import imgIoana from '@assets/ioana.jpg';
import bgPink from '@assets/pink.jpeg';
import bgSky from '@assets/sky.jpeg';
import bgHeart from '@assets/heart.jpg';

const title = 'Home';
---

<BaseLayout title={ title }>
  <header>
    <div class="hero bg-secondary text-neutral">
      <div class="hero-content flex-col md:flex-row gap-8 px-8 pt-24 pb-16">
        <div class="avatar">
          <div class="w-56 rounded-full shadow-lg ring ring-primary ring-offset-secondary ring-offset-4">
            <Image src={imgIoana} alt="Ioana" />
          </div>
        </div>
        <div class="max-w-md flex flex-col">
          <Icon name="serendipity" class="text-primary w-56" />
          <p class="text-right">(n) fortunate happenstance</p>
        </div>
        <!-- <Icon name="serendipity" class="text-primary w-48" />
        <p class="">(n) fortunate happenstance</p> -->
        <!-- <div class="avatar">
          <div class="w-56 rounded-full shadow-lg ring ring-primary ring-offset-secondary ring-offset-4">
            <Image src={imgIoana} alt="Ioana" />
          </div>
        </div>
        <div class="max-w-md flex flex-col gap-6">
          <h1 class="text-5xl font-bold">Hey there!</h1>
          <p class="">Nice to meet you! I´m Ioana, a creative programmer with divergent ideas and connective visions. I am passionate about web development, exploring new limits and always strive to enhance emotional intelligence in me and other people.</p>
          <Icon name="HeroiconsArrowDown" class="h-12 w-12 text-primary animate-bounce" />
        </div> -->
      </div>
    </div>
    <style>
      .drip-mask {
        mask-image: url('drip-mask.svg');
        mask-repeat: repeat-x;
        mask-position: top center;
      }
    </style>
    <hr class="transform -translate-y-1 border-none h-20 bg-secondary drip-mask" id="scroll-target"/>
  </header>

  <Section>
    <div class="hero">
      <div class="hero-content flex-col lg:flex-row">
        <div class="flex flex-col gap-6">
          <!-- <h2 class="text-4xl font-bold">Sometimes I code…</h2> -->
          <!-- <p class="py-6">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
          <h1 class="text-5xl font-bold">Hey there!</h1>
          <p class="max-w-prose">Nice to meet you! I’m Ioana, a creative programmer with divergent ideas and connective visions. I am passionate about web development, exploring new limits and always strive to enhance emotional intelligence in me and other people.</p>
          <!-- <Icon name="HeroiconsArrowDown" class="h-12 w-12 text-primary animate-bounce" /> -->
          <!-- <a class="btn btn-accent" href="/code">Check out my code</a>
          <a class="btn btn-primary" href="/ioana-resume.pdf" target="_blank">My Resume</a> -->
        </div>
        <div class="mockup-window bg-base-300 shadow">
          <video class="w-96" autoplay loop muted>
            <source src="who-am-i.mp4" type="video/mp4">
            <p>Your browser doesn't support HTML5 video.</p>
          </video>
        </div>
      </div>
    </div>
  </Section>

  <Section class="bg-cover bg-fixed bg-gray-400 dark:bg-gray-600 bg-blend-multiply text-neutral-content" style={`background-image: url(${bgPink.src});`}>
    <Quote
      text="The road to success is always under construction"
      author="Lily Tomlin"
    />
  </Section>

  <Section>
    <div class="px-4 mx-auto">
      <h2>Sometimes I…</h2>
      <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
        <Blob imgSrc={bgPink.src} text="code" href="/coding" />
        <Blob imgSrc={bgSky.src} text="string" href="/crafting" />
        <Blob imgSrc={bgHeart.src} text="write" href="/blog" />
        <Blob imgSrc={imgIoana.src} text="cook" href="/cooking" />
      </div>
    </div>
  </Section>

  <Section class="bg-cover bg-fixed bg-gray-400 dark:bg-gray-600 bg-blend-multiply text-neutral-content" style={`background-image: url(${bgSky.src});`}>
    <Quote
      text="Life begins at the end of your comfort zone"
      author="Neale Donald Walsch"
    />
  </Section>

  <Section class="bg-cover bg-fixed bg-gray-400 dark:bg-gray-600 bg-blend-multiply text-neutral-content" style={`background-image: url(${bgHeart.src});`}>
    <Quote
      text="Wherever you go, go with all your heart"
      author="Confucius"
    />
  </Section>

  <Section>
    <div class="prose mx-auto">
      <p class="text-lg font-light text-center">Please get in touch, for sure it will be a positive experience!</p>
      <ContactForm />
    </div>
  </Section>
</BaseLayout>
