---
interface Props {
  title?: string;
  description?: string;
  link?: string;
  image?: ImageMetadata;
  imageAlt?: string;
}

import { Image } from 'astro:assets';

const { title, description, link, image, imageAlt } = Astro.props;

const Element = link ? 'a' : 'div';
---

<Element class="card bg-base-100 shadow image-full hover:scale-105 transition-transform" href={link}>
  {image && <figure><Image src={image.src} width={image.width} height={image.height} alt={imageAlt || ''} /></figure>}
  <div class="card-body">
    {title && <h2 class="card-title">{title}</h2>}
    {description && <p>{description}</p>}
  </div>
</Element>
